 
  .sm-text {
   font-size: 11px !important; 
}
.xs-text {
   font-size: x-small !important; 
}

input.small {
	width: 70px !important;
}

.row-m-t{
  margin-top : 5px
}

i {
  pointer-events: none;
}

