{% set navname = 'navlp' %}
{% extends 'base.html' %}
{% block content %}
	<form id='form' action='' method='post' class='form-inline' novalidate>
		<div class="row">
			<div class='col-md-9'>
				<div class='row'>
					<div class='form-group sm-text col-md-3'>
						<label for='lp'>ЛП</label>
						<input name='lp' id='lp' type='text' class='form-control'>
					</div>
					<div class='form-group col-md-2 sm-text'>
						<label for='doz'>доза</label>
						<input name='doz' id='doz' type='text' class='form-control small'>	
					</div>
					<div class='form-group col-md-2 sm-text'>
						<label for='date-start'>принимать с</label>
						<input name='date-start' id='date-start' type='date' class='form-control date' required=''>	
					</div>
					<div class='form-group col-md-2 sm-text'>
						<label for='days-count'>кол-во дней</label>
						<input name='days-count' id='days-count' type='number' class='form-control small'>	
					</div>
					<div class='form-group col-md-2 sm-text'>
						<label for='inp-meth'>способ ввода</label>
						<select name='inp-meth' id='inp-meth' class='form-control'>
							{% for n in inp_method %}
								{% if n == 1 %}
									<option value='{{ n }}' selected=''>{{ inp_method[n] }}</option>
								{% else %}
									<option value='{{ n }}'>{{ inp_method[n] }}</option>
								{% endif %}	
							{% endfor %}
						</select>	
					</div>
					<div id='time-box' class='form-group sm-text col-md-12'>
						<label for='time-box'>время приема</label>
						<div id='time-box-inp' class='input-group input-group-sm'>
							<input id='txt' type='text' class='form-control' owner='general' disabled value=0>
							<div class='input-group-btn'>		
								{% for i in range(24) %}
									<button type='button' id='b{{ i+1 }}' class='btn btn-default txt_btn' owner='general' onclick='clickbtn("txt")'>{{ i+1 }}</button>
								{% endfor %}
							</div>
						</div>
					</div>
					<div class='checkbox col-md-3'>
						<label><input id='comb_time' type="checkbox" checked="true" onclick='checkbox()'> Объединить время</label>	
					</div>
				</div>
			</div>
			<button id='add_lp' type='button' class='btn btn-default'><i class='glyphicon glyphicon-plus'></i></button>
		</div>
		<br>
		<div id='prep' class='row col-md-10'>				
			<div id='lp-list' class='list-group col-md-4'>
				{#<div class='row'><div class='col-md-10'><button class='list-group-item'>1</button></div></div>
				<div class='row'>
					<div class='col-md-10'>
						<button class='list-group-item active'>2</button>
					</div>
					<button class='btn btn-link'><i class="glyphicon glyphicon-remove"></i></button>
				</div>	
				<div class='row'><button class='list-group-item '>3</button></div>#}
			</div>
			<div id='lp-info' class='col-md-7'></div>
		</div>
		<div  class='row col-md-10'>
			<button id='save_lp' type='submit' class='btn btn-success'>Сохранить</button>
		</div>
	</form>
{% endblock %}