{% set navname = 'navlp' %}
{% extends 'base.html' %}
{% block content %}
<div class='container'>
	<form id='form' action='' method='post' class='form-inline' novalidate>
		<div class="row">
			<button type='submit' id='add' class='btn btn-default'>Добавить</button>
		</div>
		<ol>
			{#<li><a href={{ url_for('index.pr_list') }} target='_blank'>Процедурный лист test</a></li>#}
			{% for elem in lists %}
				<li><a href={{ url_for('index.lp_page', id = elem['id']) }}>Процедурный лист от {{ elem['date_start'] }} отд. {{ elem['dep'] }} (спец. id {{ elem['doc'] }})</a></li>
			{% endfor %}
		</ol>
	</form>
</div>	
{% endblock %}