<script>
 	let str_pl = '{{ pl|tojson }}';
	var pl = JSON.parse(str_pl);
</script>
{% set navname = 'navlp' %}
{% extends 'base.html' %}
{% block content %}
<div class='container'>
	<div class='container'>
	<div class='form-group col-sm-3'>
		<label for='pl_date_start'>дата начала проц. листа</label>
		<input name='pl_date_start' id='pl_date_start' type='date' class='form-control'>
	</div>	
	<div class='form-group col-sm-3'>
		<label for='dep'>отделение</label>
		<input name='dep' id='dep' type='text' class='form-control'>
	</div>	
	<div class='form-group col-sm-3'>
		<label for='doc'>врач</label>
		<input name='doc' id='doc' type='text' class='form-control'>
	</div>	
	</div>
	<div>
	<ul class="nav nav-tabs">
		{% if navname == 'navlp' %}
	  		<li role="presentation" class="active"><a href={{ url_for('index.lp_page') }}>Лекарственные препараты</a></li>
	  	{% else %}
			<li role="presentation"><a href={{ url_for('index.lp_page') }}>Лекарственные препараты</a></li>
		{% endif %}	
		{% if navname == 'navtable' %}
	  		<li role="presentation" class="active"><a href={{ url_for('index.table_page') }}>Стол</a></li>
	  	{% else %}
			<li role="presentation"><a href={{ url_for('index.table_page') }}>Стол</a></li>
		{% endif %}	
		{% if navname == 'navanalis' %}
	  		<li role="presentation" class="active"><a href={{ url_for('index.analis_page') }}>Анализы</a></li>
	  	{% else %}
			<li role="presentation"><a href={{ url_for('index.analis_page') }}>Анализы</a></li>
		{% endif %}	
	</ul>
	</div>
	<br>

	<form id='form' action='' method='post' class='form-inline' novalidate>
		<div class="row">
			<div class='col-sm-9'>
				<div class='row'>
					<div class='form-group sm-text col-sm-3'>
						<label for='lp'>ЛП</label>
						<input name='lp' id='lp' type='text' class='form-control'>
					</div>
					<div class='form-group col-sm-2 sm-text'>
						<label for='doz'>доза</label>
						<input name='doz' id='doz' type='text' class='form-control small'>	
					</div>
					<div class='form-group col-sm-2 sm-text'>
						<label for='date-start'>принимать с</label>
						<input name='date-start' id='date-start' type='date' class='form-control date' required='' value={{ today }}>	
					</div>
					<div class='form-group col-sm-2 sm-text'>
						<label for='days-count'>кол-во дней</label>
						<input name='days-count' id='days-count' type='number' class='form-control small' value=1>	
					</div>
					<div class='form-group col-sm-2 sm-text'>
						<label for='inp-meth'>способ ввода</label>
						<select name='inp-meth' id='inp-meth' class='form-control'>
							{% for n in inp_method %}
								{% if n == 1 %}
									<option value='{{ n }}' selected=''>{{ inp_method[n] }}</option>
								{% else %}
									<option value='{{ n }}'>{{ inp_method[n] }}</option>
								{% endif %}	
							{% endfor %}
						</select>	
					</div>
					<div id='time-box' class='form-group sm-text col-sm-12'>
						<label for='time-box'>время приема</label>
						<div id='time-box-inp' class='input-group input-group-sm'>
							<input id='txt' type='text' class='form-control' owner='general' disabled value=0>
							<div class='input-group-btn'>		
								{% for i in range(24) %}
									<button type='button' id='b{{ i+1 }}' class='btn btn-default txt_btn' owner='general' onclick='clickbtn("txt")'>{{ i+1 }}</button>
								{% endfor %}
							</div>
						</div>
					</div>
					<div class='checkbox col-sm-3'>
						<label><input id='comb_time' type="checkbox" checked="true" onclick='checkbox()'> Объединить время</label>	
					</div>
				</div>
			</div>
			<button id='add_lp' type='button' class='btn btn-default'><i class='glyphicon glyphicon-plus'></i></button>
		</div>
		<br>
		<div id='prep' class='row col-sm-10'>				
			<div id='lp-list' class='list-group col-sm-4'>
				{#<div class='row'><div class='col-sm-10'><button class='list-group-item'>1</button></div></div>
				<div class='row'>
					<div class='col-sm-10'>
						<button class='list-group-item active'>2</button>
					</div>
					<button class='btn btn-link'><i class="glyphicon glyphicon-remove"></i></button>
				</div>	
				<div class='row'><button class='list-group-item '>3</button></div>#}
			</div>
			<div id='lp-info' class='col-sm-7'></div>
		</div>
		<div  class='row col-sm-10'>
			<button id='save_lp' type='submit' class='btn btn-success'>Сохранить</button>
			<a href='/' class='btn btn-default'>Назад </a>
		</div>
	</form>
</div>

{% endblock %}