<!DOCTYPE html>
<html>
	<head>
		{#<link href='//static.iood.ru/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet'>#}
 		<link href={{ url_for('static',filename='css/bootstrap.min.css') }} rel='stylesheet'>
 		<link rel='stylesheet' href={{ url_for('static',filename='css/clockface.css') }} type='text/css' >
 		<link rel='stylesheet' href={{ url_for('static',filename='css/test.css') }} type='text/css' >
		{#<script src='//static.iood.ru/jquery/3.4.1/jquery.min.js'></script>#}
		<script src='https://code.jquery.com/jquery-3.4.1.min.js'></script>
		<script src={{ url_for('static',filename='js/clockface.js') }}></script> 
		<script src={{ url_for('static',filename='js/test.js') }}></script> 
		<script src={{ url_for('static',filename='js/buttons.js') }}></script> 
	</head>
	<body>
		<div class='container'>
			<ul class="nav nav-tabs">
				{% if navname == 'navlp' %}
			  		<li role="presentation" class="active"><a href={{ url_for('index.lp_page') }}>Лекарственные препараты</a></li>
			  	{% else %}
					<li role="presentation"><a href={{ url_for('index.lp_page') }}>Лекарственные препараты</a></li>
				{% endif %}	
				{% if navname == 'navtable' %}
			  		<li role="presentation" class="active"><a href={{ url_for('index.table_page') }}>Стол</a></li>
			  	{% else %}
					<li role="presentation"><a href={{ url_for('index.table_page') }}>Стол</a></li>
				{% endif %}	
				{% if navname == 'navanalis' %}
			  		<li role="presentation" class="active"><a href={{ url_for('index.analis_page') }}>Анализы</a></li>
			  	{% else %}
					<li role="presentation"><a href={{ url_for('index.analis_page') }}>Анализы</a></li>
				{% endif %}	
			</ul>
			<br>
			{% block content %}{% endblock %}
		</div>
	</body>
</html>	